# remove caches
__pycache__/
*.py[cod]

# Editable install / packaging artifacts
*.egg-info/
.eggs/
build/
dist/

# Virtual environments
.venv/
venv/
env/

# Remove generated data
train.csv
val.csv

# Remove data (large)
/data/*
!/data/.gitkeep

# Remove results (large)
/results/*
!/results/.gitkeep

# Remove results (large)
/latxraynet/weights/*
!/latxraynet/weights/.gitkeep

# remove all generated weights
*.pth